
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Producto</li>
</ol>


<div class="card">
    <div class="card-header">

        <i class="fas fa-boxes me-1"></i> Lista de Productos

    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Crear Nueva Producto</button>
            </div>
        </div>
        <hr />

        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            <tbody>
            </tbody>
        </table>
    </div>
</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                <button type="button" class="close bg-dark" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-1">
                            <input id="txtId" type="text" value="0" />

                    <form id="contenedor" class="row">

                        <div class="col-sm-3">
                            <div class="mb-2">
                                <img id="img_producto" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
                            </div>
                            <div class="mb-2">
                                <input class="form-control" type="file" id="fileProducto" accept="image/png, image/jpg, image/jpeg" onchange="mostrarImagen(this)" />
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="mb-3">
                                <label class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="txtnombre" name="nombre" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Descripcion</label>
                                <textarea type="text" class="form-control" id="txtDescripcion" name="descripcion" style="height: 125px;/*El usuario no puede manipular el textarea*/resize: none"></textarea>
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="mb-3">
                                <label class="form-label">Marca</label>
                                <select id="cboMarca" class="form-select">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Categoria</label>
                                <select id="cboCategoria" class="form-select">
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Precio</label>
                                <input type="text" class="form-control" id="txtprecio" autocomplete="off" name="Precio" />
                            </div>
                        </div>


                        <div class="col-sm-3">
                            <div class="mb-3">
                                <label class="form-label">Stock</label>
                                <input type="number" class="form-control" id="txtstock" autocomplete="off" name="stock" />
                            </div>
                            <div class="mb-3">
                                <label for="cboEstado">Estado</label>
                                <select class="form-select" id="cboEstado" aria-label="Default select example">
                                    <option value="1" selected>Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                            </div>
                        </div>

                    </form>

                </div>

                <!--Mensaje alerta-->
                <div class="row mt-2">
                    <div class="col-12">

                        <div id="msgError" class="alert alert-danger" role="alert">
                        </div>

                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        //Tabla data contiene toda la informacion
        var tabladata;
        var filaSeleccionada;

        function mostrarImagen(input) {
            if (input.files) {

                var reader = new FileReader();

                reader.onload = function (e) {
                    $("#img_producto").attr("src", e.target.result).width(200).height(197);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }




        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            //Como va a pintar los datos ajax
            "ajax": {
                url: '@Url.Action("ListarProductos", "Mantenimiento")',
            type: "GET",
            dataType: "json"
            },
            "columns": [
                //De "data" origen extraes el Nombre
                { "data": "Nombre" },
                { "data": "Descripcion" },
                { "data": "oMarca.Descripcion" },
                { "data": "oCategoria.Descripcion" },
                { "data": "Precio" },
                { "data": "Stock"},
                {
                    "data": "Activo", "render": function (valor) {
                        if (valor) {
                            return "<span class='badge bg-success'>Activo</span>";
                        } else {
                            return "<span class='badge bg-danger'>Inactivo</span>";
                        }
                    }
                },
                {
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-edit"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-2 btn-delete"><i class="fas fa-trash"></i></button>',
                    "orderable": false, //No se quiere que esta columna sea ordenada de mayor a menor ni de menor a mayor
                    "searchable": false, //No se quiere que se busque por esta columna
                    "width": "90px"
                }
            ],
            "language": { //Para cambiar de ingles a español
                "url": "https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-ES.json"
                }

        });



        //********************* COMBO BOX DE MARCA *********************/

        jQuery.ajax({
            url: `@Url.Action("ListarMarcas", "Mantenimiento")`,
            type: "GET",
            data: null,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //La data retorna la lista de marcas
                //console.log(data, "la data");

                $("<option>").attr({ "value": "0", "disabled":"true" }).text("Seleccionar").appendTo("#cboMarca")
                //Hace un for each a la lista(data) de las marcas registradas
                $.each(data.data, function (index, valor) {
                    $("<option>").attr({ "value": valor.IdMarca }).text(valor.Descripcion).appendTo("#cboMarca")
                })
            },
            error: function (e) {
                console.log(e, "error");
            }
        });


        //********************* COMBO BOX DE CATEGORIA *********************/
        jQuery.ajax({
            url: `@Url.Action("ListarCategorias", "Mantenimiento")`,
            type: "GET",
            data: null,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //La data retorna la lista de productos
                $("<option>").attr({ "value": "0", "disabled":"true" }).text("Seleccionar").appendTo("#cboCategoria")
                //Hace un for each a la lista(data) de las marcas registradas
                $.each(data.data, function (index, valor) {
                    $("<option>").attr({ "value": valor.IdCategoria }).text(valor.Descripcion).appendTo("#cboCategoria")
                })
            },
            error: function (e) {
                console.log(e, "error");
            }
        });




        //********************* VALIDAR EL FORMATO *********************/
        jQuery.validator.addMethod("preciodecimal", function (value, e) {
            return this.optional(e) || /^\d{0,4}(\.\d{0,2})?$/i.test(value)
        }, "El formato correcto del precio es ##.##");

        $("#contenedor").validate({
            rules: {
                //En la caja de texto tiene el atributo name
                nombre: {
                    required: true,
                },
                descripcion: {
                    required: true
                },
                Precio: {
                    required: true,
                    preciodecimal: true
                },
                stock: {
                    required: true,
                    number: true
                }
            },
            messages: {
                nombre: "- El campo nombre es obligatorio",
                descripcion: "- El campo descripcion es obligatorio",
                //Dentro de los mensajes de precio vamos a aplicar la logica de preciodecimal
                Precio: { required: "- El campo precio es obligatorio", preciodecimal: "- El formato correcto del precio es ##.##" },
                stock: { required: "- El campo stock es obligatorio", number: "- Debe ingresar solo numeros en el stock"}
            },
            errorElement: "div",
            errorLabelContainer: ".alert-danger"
        })



        //********************* FUNCION ABRIR MODAL *********************/
        function abrirModal(json) {

            $("#txtId").val(0);
            $("#img_producto").removeAttr("src");
            $("#fileProducto").val("");
            $("#txtnombre").val("");
            $("#txtDescripcion").val("");
            //Seleccionar siempre la primer opcion en cbomarca
            $("#cboMarca").val($("#cboMarca option:first").val());
            //Seleccionar siempre la primer opcion en cbocategoria
            $("#cboCategoria").val($("#cboCategoria option:first").val());

            $("#txtprecio").val("");
            $("#txtstock").val("");
            $("#cboEstado").val("1");
            $("#msgError").hide();

            if (json != null) {
                $("#txtId").val(json.IdProducto);
                $("#txtnombre").val(json.Nombre);
                $("#txtDescripcion").val(json.Descripcion);
                //Seleccionar siempre la primer opcion en cbomarca
                $("#cboMarca").val(json.oMarca.IdMarca);
                //Seleccionar siempre la primer opcion en cbocategoria
                $("#cboCategoria").val(json.oCategoria.IdCategoria);

                $("#txtprecio").val(json.Precio);
                $("#txtstock").val(json.Stock);

                $("#cboEstado").val(json.Activo ? "1" : "0");

                 jQuery.ajax({
                     url: `@Url.Action("ImagenProducto", "Mantenimiento")`,
                     type: "POST",
                     data: JSON.stringify({ id: json.IdProducto }),
                     dataType: "json",
                     contentType: "application/json; charset=utf-8",
                     success: function (data) {
                         console.log(data);
                         $("#img_producto").LoadingOverlay("hide");
                         if (data.conversion) {

                             $("#img_producto").attr({ "src": "data:image/" + data.extension + ";base64," + data.textoBase64 });
                         }
                     },
                     error: function (e) {
                         $("#img_producto").LoadingOverlay("hide");

                         $("#msgError").show();
                         $("#msgError").text("Error al mostrar imagen");
                     },
                     beforeSend: function () {
                         $("#img_producto").LoadingOverlay("show");
                     }
                 });


            }
            $("#exampleModal").modal("show");
        }
        //Cada ves que haga un click en el boton btn-editar que esta en el tbody y que esta en la #tabla, vas a hacer esto
        $("#tabla tbody").on("click", ".btn-edit", function myfunction() {
            //this es para obtener la parte inicial del componente
            filaSeleccionada = $(this).closest("tr");
            var data = tabladata.row(filaSeleccionada).data();
            console.log(data);
            abrirModal(data)
        })



        //Cada ves que haga un click en el boton btn-delete que esta en el tbody y que esta en la #tabla, vas a hacer esto
        $("#tabla tbody").on("click", ".btn-delete", function myfunction() {
            //this es para obtener la parte inicial del componente
            var ProductoSeleccionado = $(this).closest("tr")
            var data = tabladata.row(ProductoSeleccionado).data();

            swal({
                title: "¿Estas seguro?",
                text: `¿Deseas eliminar la Producto?`,
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function(){
                    jQuery.ajax({
                        url: '@Url.Action("EliminarProducto", "Mantenimiento")',
                        type: "POST",
                        data: JSON.stringify({id: data.IdProducto}),
                        dataType: "json",
                        contentType: "application/json; charset=UTF-8",
                        success: function (data) {
                            if (data.resultado) {
                                tabladata.row(ProductoSeleccionado).remove().draw();
                            } else {
                                swal("No se pudo eliminar", data.mensaje, "error");
                            }
                        },
                        error: function (e) {
                            console.log(e)
                        }
                    })
                })


        })

        function Guardar() {


            //En caso de que las reglas del formulario no se cumplieron no retorna nada, se queda ahi
            if (!$("#contenedor").valid()) {
                return;
            }

            var ImageSelected = $('#fileProducto')[0].files[0];
            var Producto = {
                IdProducto: $("#txtId").val(),
                Nombre: $("#txtnombre").val(),
                Descripcion: $("#txtDescripcion").val(),
                oMarca: {
                    IdMarca: $("#cboMarca option:selected").val(),
                    Descripcion: $("#cboMarca option:selected").text(),
                },
                oCategoria: {
                    IdCategoria: $("#cboCategoria option:selected").val(),
                    Descripcion: $("#cboCategoria option:selected").text(),
                },
                Precio: $("#txtprecio").val(),
                PrecioTexto: $("#txtprecio").val(),
                Stock: $("#txtstock").val(),
                Activo: $("#cboEstado").val()== 1 ? true : false,
                Reestablecer: true
            }
            //FormData: Crea y envia datos en formato de formulario a traves de una solicitud http
            var request = new FormData();
            //Debe de ser el mismo nombre que le puse al argumento de la funcion de GuardarProducto
            //Estoy creando, dentro de formData, un obj
            request.append("obj", JSON.stringify(Producto));
            //Estoy creando, dentro de formData, un archivoImage
            request.append("archivoImage", ImageSelected);

            jQuery.ajax({
                url: '@Url.Action("GuardarProducto", "Mantenimiento")',
                type: "POST",
                data: request,
                processData: false,
                contentType: false,
                success: function (data) {
                    
                    $(".modal-body").LoadingOverlay("hide");
                    //Producto NUEVO

                    if (Producto.IdProducto == 0) {
                        //Si el idGenerado es diferente de 0, actualiza el id del producto al idGenerado
                        if (data.idGenerado != 0) {
                            //Esta actualizando el id del nuevo Producto
                            Producto.IdProducto = data.idGenerado;
                            //Agrega otra Producto y pinta la informacion
                            tabladata.row.add(Producto).draw(false)
                            $("#exampleModal").modal("hide");
                        //Si la condicion no se cumple es por que hay un error en el servidor o el usuario puso algo
                        } else {
                            $("#msgError").text(data.mensaje);
                            $("#msgError").show();
                        }
                    }
                    //Producto EDITADO
                    else {
                        //Actualizar
                        if (data.operacionExitosa) {
                            //Selecciona una fila, mira la data del usuario y pinta la informacion
                            //Debido a que no hay ninguna base datos la id siempre sera cero ----- ERROR
                            tabladata.row(filaSeleccionada).data(Producto).draw(false);
                            //Nueva fila
                            filaSeleccionada = null;
                            $("#exampleModal").modal("hide");
                        } else {
                            $("#msgError").text(data.mensaje);
                            $("#msgError").show();
                            }
                       }
                },
                error: function (error) {
                    console.log(error)
                    $(".modal-body").LoadingOverlay("hide");
                    $("#msgError").text("Error ajax" + error);
                    $("#msgError").show();
                    },
                //Mientras se esta ejecutando esta funcion se activa. Realiza algo durante la ejecucion de la url
                beforeSend: function(){
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2, //La img de la imagen va a ser en dos
                        text: "Cargando...",
                        size: 14
                    });
                }
            })


        }

    </script>
}